@tailwind base;
@tailwind components;
@tailwind utilities;



/* base < components < utilities */
@layer utilities {
    .mist-border-2 {
        @apply border-2 border-solid border-indigo-700;
    }
}


.fade-enter {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-out;
}

.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter {
    transform: translateX(-10px);
    opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.5s ease-out;
}

.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}